* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(14, 13, 13, 0.267);
}

#logo {
  justify-content: right;
  width: 40px;
  height: 40px;
  margin-right: 2em;
}

@media screen and (max-width: 900px) {
  #logo {
    display: none;
  }
}
  


header nav .myNav a {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  border-right: 1px solid;
  padding-right: 2em;

}

@media screen and (max-width: 900px) {
  header nav .myNav a {
    border-right: 0;
    padding-right: 0;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('Resources/testImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
}



article {
  display: flex;
  flex-direction: row;
  margin-left: 10em;
  margin-top: 5em;
  padding: 5em;
}

@media screen and (max-width: 900px) {
  article {
    flex-direction: column;
    margin-left: 0;
    margin-top: 4em;
    padding: 2;
  }
}

article h3 {
  padding-top: 3em;
  margin-bottom: 1em;
  font-size: 1.5em;
}

#desc {
  font-style: italic;
  font-size: 1em;
  font-size: 1.5em;
}

#imageR {
  float: left;
  margin: 0 15px 0 0;
}

article .aboutMe img {
  border-radius: 50%;
  width: 250px;
}

@media screen and (max-width: 800px) {
  article .aboutMe img {
    border-radius: 50%;
    width: 150px;
  }
}
  
section {
  padding: 2rem;
}

footer {
  text-align: center;
  letter-spacing: 1.2px;
  padding: 10px;
  background-color: rgba(14, 13, 13, 0.267);
}

footer .socials {
  justify-content: space-between;
}

/* PROJECTS */
#projects h1 {
  text-transform: uppercase;
  margin: 0 auto 30px auto;
  text-align: center;
}

#projects .myProjects {
  display: block;
}

@media (min-width: 800px) {
  #projects .myProjects {
    display: flex;
    justify-content: space-between;
  }
}

#projects .myProjects .item {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  text-align: center;
  transition: background-color 0.8s ease-in;
}

@media(min-width: 800px) {
  #projects .myProjects .item {
    margin-bottom: 0;
  }
}

#projects .myProjects .item h2 {
  padding-bottom: 1em;
}

#projects .myProjects .item h3 {
  text-transform: uppercase;
  font-weight: 700;
}

#projects .myProjects .item img {
  max-width: 80%;
  margin: 0 auto;
}

#projects .myProjects .item p {
  font-style: italic;
  display: block;
  margin-bottom: 30px;
  text-shadow: 0 1px 2px #222;
}

#projects .myProjects .item a {
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.3px;
  transition: all 0.8s ease-in-out;
}

#projects .item:hover {
  transform: scale(1.1);
}

#interrogasImg {
  width: 100%;
  height: auto;
}

#monsterplexImg {
  width: 100%;
  height: auto;
}